.login-form {
    width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    text-align: right;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }
  
  .new-user-button {
    width: 200px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .new-user-button:hover {
    background-color: #45a049;
  }

  .errMsg {
    color: red;
  }