.cube {
    width: 80px;
    height: 80px;
    background-color:#FFF;
    flex-direction: column;
    display: flex;
    border: 1px solid rgb(121, 121, 121);
    box-sizing: border-box;
    cursor: pointer;
}

.today {
    border: 2px solid rgb(238, 114, 114); /* Set the border color to red for today */
    color: rgb(238, 114, 114); /* Set the text color to red for today */
  }
  
.text-cube {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    font-weight: 600;
    font-size: 0.9rem;
}

.empty-cube {
    width: 80px;
    height: 80px;
}

.day-content{
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  flex: 1;
}

.candle-container{
    display: flex;
    flex-direction: column-reverse;
    width: 20px;
    flex: 1;
  }
  
  .candleImg {
    position: absolute;
    width: 16px;
    height: 33px;
  }
  
.cube:hover {
    background: rgb(227, 227, 227);
    border: 2px solid;
}
  
.tooltip {
    display: none;
    background-color: #727171;
    color: #fff;
    padding: 8px;
    padding-top: 10px;
    height: 30px;
    border-radius: 8px;
    z-index: 1;
    bottom: 125%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    max-width: 290px; /* Adjust as needed */
    border: 2px solid #f1cbcb;
    margin-left: -110px;
    margin-bottom: -70px;
  }
  
  .tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -16px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #727171;
    transform: translateY(-50%);
  }
  
  .candle-container:hover .tooltip {
    display: flex;
    position: absolute;
  }
  
  .event-text {
    font-weight: bold;
    font-size: 0.65rem;
  }

  .event-small-text{
    font-weight: bold;
    font-size: 0.5rem;
  }

  .events-container{
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-flow: column;
  }

  .third-div{
    display: flex;
    flex: 1;
  }