:root {
  --headerColor: #576f72;
  --textColor: #fff7d4;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--headerColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  margin-bottom: 10px;
}

.logo {
  height: 80px;
  margin-top: 0;
  margin-right: 10px; 
}

.nav {
  background-color: var(--headerColor);
  margin-top: 0;
  flex-grow: 1; 
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
}

nav a {
  margin-right: 1rem; 
  color: var(--textColor);
  text-decoration: none;
  font-weight: bold;
}

.userName-header:hover,
.userName-header.active,
nav a:hover,
nav a.active {
  color: rgb(241, 213, 56);
  background-color: var(--headerColor);
}

.userName-header-shalom,
.userName-header {
  margin-left: 20px; 
  color: var(--textColor);
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
}

.connect-header{
  display: flex;
  flex-direction: row-reverse;
}